<div *ngFor="let dispatch of dispatches">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-9">
          <h2>{{ dispatch.user.name }}</h2>
          Telefono: {{ dispatch.user.phoneNumber }}<br>
          Dirección: {{ dispatch.user.address }}<br>
        </div>
        <div class="col-3">
          <div class="text-end">
            <h3 class="mb-2">Total: $ {{ calculateTotal(dispatch) }}</h3>
            <p>Fecha: {{ dispatch.dispatchDate }}</p>
          </div>
        </div>
      </div>
      <hr>
      <h2>Productos</h2>
      <div class="row">
        <div class="col-3 mb-3" *ngFor="let product of dispatch.cart">
          <div class="card">
            <img src="{{ product.image }}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">{{ product.name }}</p>
              <p class="card-text">${{ product.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <hr>
</div>
<div class="alert alert-info" *ngIf="dispatches.length === 0">
  No hay productos despachados
</div>
