<div class="container">
  <div class="row my-5">
    <div class="col-12 mb-3">
      <h2>Administración</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-4">
          <ul class="list-group">
            <li class="list-group-item pointer" [routerLink]="['.', 'pedidos']" routerLinkActive="active">Pedidos</li>
            <li class="list-group-item pointer" [routerLink]="['.', 'despachos']" routerLinkActive="active">Despachos</li>
            <li class="list-group-item pointer" [routerLink]="['']">Cerrar sesión</li>
          </ul>
        </div>
        <div class="col-12 col-md-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>